:root {
  --google-blue: rgb(66, 133, 244);

  Button {
    border: none;
    font-size: 0.7vw;
    padding: 8px;
    font-weight: 700;
    text-transform: capitalize;
    font-style: italic;
    height: fit-content;
    width: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 1px;
    color: whitesmoke;

    &:hover {
      background-color: whitesmoke;
      color: black;
      cursor: pointer;
      margin: 14px;
    }
  }

  .primary {
    background-color: #af9800;

    &:hover {
      border: solid 1px #af9800;
    }
  }

  .google {
    background-color: rgb(66, 133, 244);
    border: none;
    position: relative;

    &::after {
      background-image: url('../../assets/google-icon.png');
      background-size: 0.8vw 0.8vw;
      background-repeat: no-repeat;
      width: 0.8vw;
      height: 0.8vw;
      content: '';
      display: inline-block;
      margin-left: 15px;
    }

    &:hover {
      border: solid 1px var(--google-blue);
    }
  }
}
