.category-container {
  height: 20vw;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none solid none none;
  border-color: #af9800;
  border-width: 1px;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 6%,
      rgba(0, 0, 0, 0.09707633053221287) 65%
    );

    & .background-image {
      transform: scale(1.05);
      transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  .category-body-container {
    height: 30px;
    width: 250px;
    justify-content: center;
    position: absolute;
    padding: 5px;
    align-items: center;
    display: flex;
    border-radius: 10px;

    .background-image {
      width: 14vw;
      height: auto;
    }

    .category-title {
      position: absolute;
      margin-top: 18vw;
      font-style: italic;
      font-size: 1.3vw;
      color: #000000;
    }
  }
}

.slot5 {
  border-style: none;
}
