.form-input-group {
  border-style: none solid none solid;
  border-color: #af9800;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
  .form-input-label {
    text-align: left;
    width: 10rem;
    display: inline-block;
  }

  .form-input {
    outline: none;
    border: none;
    border-bottom: solid 1px rgba(0, 0, 0, 0.316);
    background-color: rgba(245, 245, 245, 0);
    width: 10vw;

    &:focus {
      border-bottom: solid 2px rgb(84, 0, 0);
    }
  }
}
