body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(84, 0, 0);
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  font-family: 'EB Garamond', serif;
  transition-timing-function: ease-in-out;
}
